<job_conf>
    <plugins workers="4">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
    </plugins>
    <destinations default="local">
        <destination id="local_destination" runner="local">
          <param id="local_slots"> 9</params>
        </destination>
    </destinations>
    <tools>
    </tools>
</job_conf>
